<div class="container mt-5">
  <div class="buttons is-centered"">
    <%= link_to "Realizar Test", root_path, class: "button is-link" %>
  </div>

  <div class="container m-3">
    <!-- Primera fila -->
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">
              IP
            </p>
            <p>
              <%= @speed_test_data["data"]["ip"] %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <% @speed_test_data["data"]["data"]["mbs"].each_with_index do |mbs, index| %>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="title">
                MBS <%= index %>
              </p>
              <p>
                <%= mbs %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %> 

    <!-- Tercera fila -->
    
  </div>

</div>